numpy
scipy
matplotlib
netCDF4
pandas
pytest
wradlib
cartopy
cvxopt
xarray
xradar
metpy
pytest-cov
mda-xdrlib
pytest-mpl
coveralls
pygrib
flake8
Cython
fsspec
imageio
cftime
setuptools
shapely
ruff
pyproj
rasterio
cibuildwheel
pooch
versioneer
black
git+https://github.com/openradar/open-radar-data
