name: build-deploy-site

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
   contents: write

# This job installs dependencies, build the website, and pushes it to `gh-pages`
jobs:
  deploy-website:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'
      # Create environment using micromamba
      - name: Install Conda environment with Micromamba
        uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462
        with:
          environment-file: doc/environment.yml
          environment-name: pyrad-docs
          cache-downloads: true

      - name: Install pyart
        working-directory: ${{github.workspace}}/src/pyart/
        run: |
          pip install .

      - name: Install pyrad
        working-directory: ${{github.workspace}}/src/pyrad_proc/
        run: |
          pip install .

      - name: Run mapping codes
        working-directory: ${{github.workspace}}/ci/
        run: |
          set -euxo pipefail
          bash run_all.sh
      - name: Check mapping Code Result
        run: |
          if [ $? -ne 0 ]; then
            echo "Error: Python code failed"
            exit 1
          fi
        shell: bash
      # Build the website
      - name: Build the site
        run: |
          cd doc
          make html
      # Push the book's HTML to github-pages
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/master'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/build/html
          cname: https:/meteoswiss.github.io/pyrad/
